.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Notificaciones
      .panel-body
      
        %h1 Notificaciones

        %table.table.table-striped
          %thead
            %tr
              %th Body
              %th Body textmsg
              %th Event
              %th Delay
              %th Previous
              %th Center
              %th
              %th
              %th

          %tbody
            - @notifications.each do |notification|
              %tr
                %td= notification.body
                %td= notification.body_textmsg
                %td= notification.event
                %td= notification.delay
                %td= notification.previous
                %td= notification.center
                %td= link_to 'Show', notification
                %td= link_to 'Edit', edit_notification_path(notification)
                %td= link_to 'Destroy', notification, :method => :delete, :data => { :confirm => 'Are you sure?' }

        %br

        = link_to 'New Notification', new_notification_path
