.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Agenda
      .panel-body
        .scroll-panel
          .row
            %br  
            .col-md-4.text-center
              .form-inline
                = label_tag :filter_center, "CENTRO"
                = select_tag :filter_center, options_for_select(Center.for_select(current_user.id), @nombre_centro), prompt: @nombre_centro,class: "form-control" 
            .col-md-8.text-center
              %h4= "Usuario: #{current_user.email}"
              %h4
                Centros
                %span.badge= "1"
                / = current_user.owner_centers.count

                = link_to "Programa", programing_schedules_path
          %hr      
          .row
            .col-md-4
              %h3 Mes
            .col-md-4
              = image_tag("planyo_status.png")

          .row
            %h3
              .col-md-4
              .col-md-1.text-center
                = link_to "<<", schedules_path(center: @id_centro, date: @date.prev_month)
              .col-md-2.text-center  
                = @date.strftime('%m-%Y')
              .col-md-1.text-center  
                = link_to ">>", schedules_path(center: @id_centro, date: @date.next_month)
                  
          .row
            .col-md-12 
              %table.table.table-responsive
                %thead
                  %tr
                    %th
                    - (1..LookTime.days_in_month(@date.strftime("%m").to_i,@date.strftime("%Y").to_i)).each do |dia|
                      %th= LookTime.day_name(Date.parse("#{@date.strftime('%Y-%m')}-#{dia}"))  
                  %tr
                    %th
                    - (1..LookTime.days_in_month(@date.strftime("%m").to_i,@date.strftime("%Y").to_i)).each do |dia|
                      %td= dia                 
                %tbody
                  - @tipos.each do |tipo|
                    %tr          
                      %td= tipo.name
                      - (1..LookTime.days_in_month(@date.strftime("%m").to_i,@date.strftime("%Y").to_i)).each do |dia|
                        - if Schedule.reservado(@id_centro, tipo.name, Date.parse("#{@date.strftime('%Y-%m')}-#{dia}"))
                          %td= link_to image_tag("reservado.png"), schedules_path(center: @id_centro, date: "#{@date.strftime('%Y-%m')}-#{dia}") 
                        - else
                          %td= link_to image_tag("disponible.png"), schedules_path(center: @id_centro, date: "#{@date.strftime('%Y-%m')}-#{dia}") 
          %rb
          %rb
          %hr 
          .row
            .col-md-12 
              %h3 Dia
            %h3
              .col-md-4
              .col-md-1.text-center
                / = link_to "<<", schedules_path(center: @id_centro, date: @date.prev_day)
              .col-md-2.text-center  
                = @date.strftime('%d-%m-%Y')
              .col-md-1.text-center  
                / = link_to ">>", schedules_path(center: @id_centro, date: @date.next_day)
          .row
            .col-md-12 
              %table.table-sm.table-responsive
                %thead
                  %tr
                    %th
                    - LookTime.hours_in_day.each do |dia| 
                      - if dia.strftime("%M") == "00" 
                        %td= "#{dia.strftime("%H")}" 
                      - else
                        %td 
                  %tr
                    %th    
                    - LookTime.hours_in_day.each do |dia|  
                      %td= "#{dia.strftime("%M")}"       
                %tbody
                  - @tipos.each do |tipo|
                    %tr  
                      %td= tipo.name
                      - LookTime.hours_in_day.each do |hora|
                        - if Schedule.reservado_hora(@id_centro, tipo.name, "#{@date.strftime('%Y-%m-%d')} #{hora.strftime('%H:%M')}")
                          %td= link_to image_tag("reservado.png"), schedules_path(center: @id_centro, date: "#{@date.strftime('%Y-%m-%d')}", datetime: "#{@date.strftime('%Y-%m-%d')} #{hora.strftime('%H:%M')}", tipo: tipo.name )  
                        - else
                          %td= image_tag("disponible.png")




          / - if @schedule.present?
          /   %rb
          /   %rb
          /   %hr 
          /   .row
          /     .col-md-12 
          /       %h4= @schedule.reservation_id
          /       %h4= @schedule.name
          /       %p= "Creado: #{@schedule.creation_time.strftime('%d-%m-%Y %I:%M')}"
          /       %p= "Inicio: #{@schedule.start_time.strftime('%d-%m-%Y %I:%M')}"
          /       %p= "Termino: #{@schedule.end_time.strftime('%d-%m-%Y %I:%M')}"
          /       %p= "Nombres: #{@schedule.first_name}"
          /       %p= "Apellidos: #{@schedule.last_name}"
          /       %p= "Email: #{@schedule.email}"
          /       %p= "#{@schedule.mobile_country_code} #{@schedule.mobile_number}"
              
          /     %hr  
          /     .col-md-8  
          /       %h3 Mensaje:
          /       %p= @schedule.user_notes

          %br
          %br
          %br
          %h3= "Detalle para el día #{@date.strftime('%d-%m-%Y')}"
          %br
         


          = link_to 'Agendar', new_schedule_path, class: "btn btn-warning" 

          %table.table.table-striped
            %thead
              %tr
                %th Origen
                %th Id
                %th Estado
                %th Fecha Creación
                %th Inicio
                %th Fin
                %th Email
                %th Telefono
                %th Recurso
                %th
                %th
                %th

            %tbody
              - @schedules.each do |schedule|
                %tr
                  %td= schedule.rol
                  %td= schedule.reservation_id
                  %td= schedule.status
                  %td= schedule.creation_time.strftime('%d-%m-%Y %I:%M')
                  %td= schedule.start_time.strftime('%d-%m-%Y %I:%M')
                  %td= schedule.end_time.strftime('%d-%m-%Y %I:%M')
                  %td= schedule.email
                  %td= schedule.mobile_number
                  %td= schedule.name


/ %h1 Listing schedules

/ %table
/   %thead
/     %tr
/       %th Id centro
/       %th Rol
/       %th Reservation
/       %th Status
/       %th Creation time
/       %th Quantity
/       %th Start time
/       %th End time
/       %th User notes
/       %th Custom color
/       %th Night reservation
/       %th Currency
/       %th First name
/       %th Last name
/       %th Login
/       %th User
/       %th Email
/       %th Mobile number
/       %th Mobile country code
/       %th Phone
/       %th Phone country code
/       %th Zip
/       %th Country
/       %th Address
/       %th State
/       %th City
/       %th Resource
/       %th Name
/       %th
/       %th
/       %th

/   %tbody
/     - @schedules.each do |schedule|
/       %tr
/         %td= schedule.id_centro
/         %td= schedule.rol
/         %td= schedule.reservation_id
/         %td= schedule.status
/         %td= schedule.creation_time
/         %td= schedule.quantity
/         %td= schedule.start_time
/         %td= schedule.end_time
/         %td= schedule.user_notes
/         %td= schedule.custom_color
/         %td= schedule.night_reservation
/         %td= schedule.currency
/         %td= schedule.first_name
/         %td= schedule.last_name
/         %td= schedule.login
/         %td= schedule.user_id
/         %td= schedule.email
/         %td= schedule.mobile_number
/         %td= schedule.mobile_country_code
/         %td= schedule.phone
/         %td= schedule.phone_country_code
/         %td= schedule.zip
/         %td= schedule.country
/         %td= schedule.address
/         %td= schedule.state
/         %td= schedule.city
/         %td= schedule.resource_id
/         %td= schedule.name
/         %td= link_to 'Show', schedule
/         %td= link_to 'Edit', edit_schedule_path(schedule)
/         %td= link_to 'Destroy', schedule, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Schedule', new_schedule_path
