.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Agenda
      .panel-body
        .scroll-panel
          .row
            %br  
            .col-md-4.text-center
              .form-inline
                = label_tag :filter_center, "CENTRO"
                = select_tag :filter_center, options_for_select(Center.for_select(current_user.id), @nombre_centro), prompt: @nombre_centro,class: "form-control" 
            .col-md-8.text-center
              %h4= "Usuario: #{current_user.email}"
              %h4
                Centros
                %span.badge= "1"
                / = current_user.owner_centers.count

          %hr      
          .row
            .col-md-4
            .col-md-4
              = image_tag("planyo_status.png")


            %rb
            %rb
            %hr 


          #mesDIV{:style => "display: none;"}
            .row
              .col-md-12
                %button{:onclick => "switchFunction()"} mes
              %h4
                .col-md-4
                .col-md-1.text-center
                  / = link_to "<<", schedules_path(center: @id_centro, date: @date.prev_month)
                .col-md-2.text-center  
                  = @date.strftime('%m-%Y')
                .col-md-1.text-center  
                  / = link_to ">>", schedules_path(center: @id_centro, date: @date.next_month)
                        
            .row
              .col-md-12 
                %table.table-sm.table-responsive
                  %thead
                    %tr
                      %th
                      - (1..LookTime.days_in_month(@date.strftime("%m").to_i,@date.strftime("%Y").to_i)).each do |dia|
                        %th= LookTime.day_name(Date.parse("#{@date.strftime('%Y-%m')}-#{dia}"))  
                    %tr
                      %th
                      - (1..LookTime.days_in_month(@date.strftime("%m").to_i,@date.strftime("%Y").to_i)).each do |dia|
                        %td= dia                 
                  %tbody
                    - @tipos.each do |tipo|
                      %tr          
                        %td= tipo.name
                        - (1..LookTime.days_in_month(@date.strftime("%m").to_i,@date.strftime("%Y").to_i)).each do |dia|
                          - if Schedule.reservado(@id_centro, tipo.name, Date.parse("#{@date.strftime('%Y-%m')}-#{dia}"))
                            %td= link_to image_tag("reservado.png"), schedules_path(center: @id_centro, date: "#{@date.strftime('%Y-%m')}-#{dia}") 
                          - else
                            %td= link_to image_tag("disponible.png"), schedules_path(center: @id_centro, date: "#{@date.strftime('%Y-%m')}-#{dia}")  
          #diaDIV
            .row
              .col-md-12 
                %button{:onclick => "switchFunction()"} día
              %h4
                .col-md-4
                .col-md-1.text-center
                  = link_to "<<", schedules_path(center: @id_centro, date: @date.prev_day)
                .col-md-2.text-center  
                  = @date.strftime('%d-%m-%Y')
                .col-md-1.text-center  
                  = link_to ">>", schedules_path(center: @id_centro, date: @date.next_day)
            .row
              .col-md-12 
                %table.table-sm.table-responsive
                  %thead
                    %tr
                      %th
                      - LookTime.hours_in_day.each do |dia| 
                        - if dia.strftime("%M") == "00" 
                          %td= "#{dia.strftime("%H")}" 
                        - else
                          %td 
                    %tr
                      %th    
                      - LookTime.hours_in_day.each do |dia|  
                        %td= "#{dia.strftime("%M")}"       
                  %tbody
                    - @tipos.each do |tipo|
                      %tr  
                        %td= tipo.name
                        - LookTime.hours_in_day.each do |hora|
                          - if Schedule.reservado_hora(@id_centro, tipo.name, "#{@date.strftime('%Y-%m-%d')} #{hora.strftime('%H:%M')}")
                            %td= link_to image_tag("reservado.png"), schedules_path(center: @id_centro, date: "#{@date.strftime('%Y-%m-%d')}", datetime: "#{@date.strftime('%Y-%m-%d')} #{hora.strftime('%H:%M')}", tipo: tipo.name )  
                          - else
                            %td= image_tag("disponible.png")
            %br
            %hr  
            .row
              .col-md-12
                .form-inline
                  = label_tag :filter_mostrar, 'Mostrar'
                  = select_tag :filter_mostrar, options_for_select(Schedule.mostrar_for_select, @mostrar), prompt: 'Todos', class: "form-control" 

                  = label_tag :filter_estado, 'Estado'
                  = select_tag :filter_estado, options_for_select(Schedule.status_for_select, @estado), prompt: 'Todos', class: "form-control"
              
               
            .row
              .col-md-12 
                %h3 Estadisticas sobre actividades
              .col-md-2
                %h4 hoy
              .col-md-2
                %h4 ayer
              .col-md-2
                %h4 ultimos 7 días
            .row    
              .col-md-2
                %h4= @hoy
              .col-md-2
                %h4= @ayer
              .col-md-2
                %h4= @ultimos7
            %br
            %hr                
            .row
              .col-md-12 
                %h3 Próximas Reservas
                %br      
                %table.table.table-striped
                  %thead
                    %tr
                      %th Id
                      %th Recurso
                      %th Cliente
                      %th Email
                      %th Fecha
                      %th Status
                      %th Creado


                  %tbody
                    - @nextSchedules.each do |schedule|
                      %tr
                        %td= link_to schedule.id, detail_schedule_path(schedule.id)
                        %td= schedule.name
                        %td= "#{schedule.first_name} #{schedule.last_name}" 
                        %td= schedule.email
                        %td= schedule.start_time.strftime('%Y-%m-%d')
                        %td= schedule.status
                        %td= schedule.created_at.strftime('%Y-%m-%d')


            %br
            %hr                
            .row
              .col-md-12 
                %h3 Ultimas reservas registradas
                %br
                %table.table.table-striped
                  %thead
                    %tr
                      %th Id
                      %th Recurso
                      %th Cliente
                      %th Email
                      %th Fecha
                      %th Status
                      %th Creado


                  %tbody
                    - @lastSchedules.each do |schedule|
                      %tr
                        %td= link_to schedule.id, detail_schedule_path(schedule.id)
                        %td= schedule.name
                        %td= "#{schedule.first_name} #{schedule.last_name}" 
                        %td= schedule.email
                        %td= schedule.start_time.strftime('%Y-%m-%d')
                        %td= schedule.status
                        %td= schedule.created_at.strftime('%Y-%m-%d')


:javascript
  function switchFunction() {
      var x = document.getElementById("mesDIV");
      var y = document.getElementById("diaDIV");
      if (x.style.display === "none") {
          x.style.display = "block";
          y.style.display = "none";
      } else {
          x.style.display = "none";
          y.style.display = "block";
      }
      
  }
