.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Reservas
      .panel-body
        %h1 
          Reservas
          %span.badge= @schedules.count
        %br
        .row
          .col-md-12
            .form-inline
              = label_tag :filter_list, 'Filtrar por'
              = select_tag :filter_list, options_for_select(Schedule.list_for_select, @list), prompt: 'Todos', class: "form-control" 
        %br      
        .row
          .col-md-12
            .form-inline
              = label_tag :filter_service, 'Filtrar por recuerso'
              = select_tag :filter_service, options_for_select(Service.for_select, @service_id), prompt: 'Todos', class: "form-control" 
        %br
        %hr      
        %br
        .digg_pagination
          = will_paginate @schedules, previous_label: h("<  "), next_label: h("  >")
        %br        
        %table.table.table-striped
          %thead
            %tr
              %th Id
              %th Recurso
              %th Cliente
              %th Email
              %th Fecha
              %th Status
              %th Creado
          %tbody
            - @schedules.each do |schedule|
              %tr
                %td= link_to schedule.id, detail_schedule_path(schedule.id)
                %td= schedule.name
                %td= "#{schedule.first_name} #{schedule.last_name}" 
                %td= schedule.email
                %td= schedule.start_time.strftime('%Y-%m-%d')
                %td= schedule.status
                %td= schedule.created_at.strftime('%Y-%m-%d')

 

