.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Centros
      .panel-body
        %h1 Centros

        %table.table.table-striped
          %thead
            %tr
              %th Id centro
              %th Id propietario
              %th Nombre centro
              %th Dir centro
              %th Sector centro
              %th Comuna centro
              %th Rut centro
              %th Web
              %th Email
              %th Telefonos
              %th Anexo
              %th Plan
              %th Status
              %th
              %th
              %th

          %tbody
            - @centers.each do |center|
              %tr
                %td= center.id_centro
                %td= center.id_propietario
                %td= center.nombre_centro
                %td= center.dir_centro
                %td= center.sector_centro
                %td= center.comuna_centro
                %td= center.rut_centro
                %td= center.web
                %td= center.email
                %td= center.telefonos
                %td= center.anexo
                %td= center.plan
                %td= center.status
                %td= link_to 'Show', center
                %td= link_to 'Edit', edit_center_path(center)
                %td= link_to 'Destroy', center, :method => :delete, :data => { :confirm => 'Are you sure?' }

        %br

        = link_to 'New Center', new_center_path
