%p#notice= notice

%p
  %b Id centro:
  = @center.id_centro
%p
  %b Id propietario:
  = @center.id_propietario
%p
  %b Nombre centro:
  = @center.nombre_centro
%p
  %b Dir centro:
  = @center.dir_centro
%p
  %b Sector centro:
  = @center.sector_centro
%p
  %b Comuna centro:
  = @center.comuna_centro
%p
  %b Rut centro:
  = @center.rut_centro
%p
  %b Web:
  = @center.web
%p
  %b Email:
  = @center.email
%p
  %b Telefonos:
  = @center.telefonos
%p
  %b Anexo:
  = @center.anexo
%p
  %b Plan:
  = @center.plan
%p
  %b Status:
  = @center.status

= link_to 'Edit', edit_center_path(@center)
\|
= link_to 'Back', centers_path
