= simple_form_for(@client) do |f|
  = f.error_notification

  .form-inputs
    = f.input :rut
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :celphone
    = f.input :age
    = f.input :gender
    = f.input :citizenship
    = f.input :origin
    = f.input :state

  .form-actions
    = f.button :submit
