.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Clientes
      .panel-body
        %h1 Clientes
        %hr  
        .row
          .col-md-12
            .form-inline
              = label_tag :filter_mostrar, 'Filtrar Clientes'
              = select_tag :filter_mostrar, options_for_select(Client.status_for_select, @status), prompt: 'Todos', class: "form-control" 
        %br
        %hr      
        .row
          .col-md-12
            = simple_form_for(clients_path,:method => :get ) do |f|
              .form-group  
                .col-sm-4
                  = f.input :nombre, label: false, placeholder: "Nombre", :input_html => {:style=> 'width: 350px'} 
                .col-sm-4
                  = f.input :apellido, label: false, placeholder: "Apellido", :input_html => {:style=> 'width: 350px'} 
              .form-group  
                .col-sm-4
                  = f.input :reserva, label: false, placeholder: "Reserva", :input_html => {:style=> 'width: 150px'} 
              .form-group  
                .col-sm-4
                  = f.input :email, label: false, placeholder: "email", :input_html => {:style=> 'width: 150px'} 
              .col-sm-4  
                = f.button :submit, "Buscar",  class: "btn btn-primary"
        %br
        %br            
        .digg_pagination
          = will_paginate @clients, previous_label: h("<  "), next_label: h("  >")
        %table.table.table-striped
          %thead
            %tr
              %th Rut
              %th Nombre
              %th Apellido
              %th Email
              %th Celular
              %th Edad
              %th Genero
              %th Nacionalidad
              %th Origen
              %th State
              %th
              %th
              %th

          %tbody
            - @clients.each do |client|
              %tr
                %td= link_to client.rut, client  
                %td= client.first_name
                %td= client.last_name
                %td= client.email
                %td= client.celphone
                %td= client.age
                %td= client.gender
                %td= client.citizenship
                %td= client.origin
                %td= client.state
                / %td= link_to 'Mostrar', client
                / %td= link_to 'Editar', edit_client_path(client)
                %td= link_to 'Eliminar', client, :method => :delete, :data => { :confirm => 'Are you sure?' }

        %br

        = link_to 'Nuevo Cliente', new_client_path
