%p#notice= notice

%p
  %b Id centro:
  = @kinesiologist.id_centro
%p
  %b Nombre:
  = @kinesiologist.nombre
%p
  %b Hh mensuales:
  = @kinesiologist.hh_mensuales

= link_to 'Edit', edit_kinesiologist_path(@kinesiologist)
\|
= link_to 'Back', kinesiologists_path
